<h1>Signup to Express Your Interest!</h1>

<%= simple_form_for(@signup, html: { class: 'form-inline' }) do |f| %>
  <% if @signup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signup.errors.count, "error") %> prohibited your registration from being completed:</h2>

      <ul>
      <% @signup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
<%= f.input :email, input_html:{:size => 25}, label: false, required: false, placeholder: 'Email me when it is ready' %>
<%= f.button :submit, 'SEND', class: "btn btn-primary" %>
<% end %>