
<div class= "container">
    <h2>Create New Course</h2>
      <%= form_for(@course) do |f| %>
          <p>
            <%= f.label :title %><br>
            <%= f.text_field :title %>
          </p>
  
        <p>
          <%= f.label :description %><br>
          <%= f.text_field :description %>
        </p>
  
        <p>
          <%= f.label :course_id %><br>
          <%= f.number_field :course_id %>
        </p>
  
     <%= f.submit %>
    <% end %>
</div>
