
<%= simple_form_for(@signup, html: { class: 'form-inline' }) do |f| %>
  <% if @signup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signup.errors.count, "error") %> prohibited your registration from being completed:</h2>

      <ul>
      <% @signup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <%= f.text_field :email, class:'form-control', placeholder: 'Get Early Access' %><br />
</div>
<%= f.button :submit, 'Get Invited', class: "btn btn-success" %>
<% end %>



