<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags bootstrap-->
 
  <title> 
    <% if content_for?(:title) %>
        <%= yield(:title) %>
     <% else %>
        CrededX
     <% end %>
</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= render 'layouts/html5shim' %>

  
  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("04e12e4ffa3904404ee1d53cc894bd7c");</script><!-- end Mixpanel -->
  
  <!-- start Sumome -->
  <script src="//load.sumome.com/" data-sumo-site-id="9df23afaea3187b47839ca193a373899ad1394a7fe5ed0a1316cedaff4d96277" async="async"></script>
  <!-- end Sumome -->
  
  
</head>
<body>
  <%= render 'layouts/navbarBrand' %>
  <div class="flash-message-container">
      <!--Alerts & Messages-->
       <% if flash[:notice]%>
         <div class="alert alert-success"><%= flash[:notice]%></div>
       <%end%>
            
        <% if flash[:alert]%>
          <div class ="alert alert-danger"><%= flash[:alert]%></div>
        <%end%>
  </div> 
  
<%= yield %>

</body>
</html>
